.interna-produtos {
  background: url("../images/bg-produtos.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 30px;
}

.produto-item {
  padding-bottom: 2rem !important;
}
.produto-item h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 600;
  color: #f1f1f1;
  position: relative;
  top: -180px;
  text-align: center;
  margin-bottom: -60px;
}
.produto-item h2::after, .produto-item h2::before {
  content: "";
  display: block;
  width: 6rem;
  height: 3px;
  background: #f1f1f1;
  margin: 6px auto 8px auto;
}
.produto-item .produto-icone {
  background: #000;
  padding: 35px 0;
}
.produto-item .produto-icone img {
  margin: 0 auto;
}
.produto-item .produto-info {
  background: #000;
}
.produto-item .produto-info p {
  color: #f1f1f1;
  font-size: 18px;
  padding: 30px 40px;
  height: 180px;
}
.produto-item .produto-info ul {
  text-align: center;
}
.produto-item .produto-info ul li {
  width: 229px;
  height: 49px;
  background: #fec63e;
  color: #000;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
  float: left;
  padding-top: 16px;
}
.produto-item .produto-info ul li:nth-child(1), .produto-item .produto-info ul li:nth-child(2) {
  margin-bottom: 2px;
}
.produto-item .produto-info ul li:nth-child(even) {
  margin-left: 2px;
}

.orcamento {
  width: 100%;
  background: #000;
  padding: 2.3rem 0;
}
.orcamento .subtitulo {
  color: #fec63e;
}
.orcamento .subtitulo::after {
  background-color: #fec63e;
}
.orcamento .form {
  padding-right: 3rem;
}
.orcamento .form label {
  display: block;
  color: #f1f1f1;
  font-size: 18px;
  line-height: 25px;
}
.orcamento .form input,
.orcamento .form textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 120px;
  border: 4px solid #fec63e;
  background: none;
  color: #f1f1f1;
  padding: 5px;
  outline: none;
  font-size: 14px;
  margin-bottom: 10px;
}
.orcamento .form button {
  background: none;
  padding: 0.5rem 3rem;
}