/*Estilo para tablets*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
  .qualidade:after {
    right: 66px;
  }

  .qualidade_lista li {
    text-align: center;
    padding: 0 10px;
  }

  .footer_redes ul li a {
    padding: 6px;
  }

  .footer_redes ul li a img {
    width: 26px;
    height: 26px;
  }

  .produto_item h2 {
    top: -150px;
    margin-bottom: -56px;
  }

  .produto_icone {
    background: #000;
    padding: 41px 0;
  }

  .produto_info p {
    font-size: 14px;
    line-height: 20px;
    height: 122px;
    padding: 20px 30px;
  }

  .produto_info ul li {
    line-height: 20px;
    font-weight: bold;
    width: 181px;
    height: 49px;
  }
}

/*Estilo para smartphone*/
@media only screen and (max-width: 787px) {
  /*Header*/
  .header {
    position: relative;
    padding-bottom: 0px;
  }

  .header img {
    margin: 0 auto 10px auto;
  }

  .header_menu {
    text-align: center;
  }

  .header_menu ul li {
    text-align: center;
    margin: 5px;
  }

  .header_menu ul li a {
    border: 4px solid #000;
    width: 116px;
    display: block;
    float: left;
  }

  .header_menu ul li a.menu_ativo {
    border-color: #fff;
  }

  .header_menu ul li a:hover {
    border-color: #fff;
  }

  /*Introducao*/

  .introducao {
    margin-top: 0px;
    padding-top: 40px;
    background: url("../images/bg-mobile.jpg") no-repeat center;
    background-size: cover;
  }

  .introducao h1 {
    font-size: 36px;
  }

  .call {
    padding-top: 20px;
    text-align: center;
    clear: both;
  }

  .produto {
    margin: 10px;
  }

  .qualidade:after {
    display: none;
  }

  /*Introdução Interna*/

  .introducao-interna {
    margin-top: 0px;
  }

  .missao_sobre p {
    padding-right: 0px;
    font-size: 14px;
  }

  .missao_sobre ul li {
    padding-right: 0px;
    font-size: 14px;
  }

  .produto_item h2 {
    top: -100px;
    margin-bottom: -68px;
  }

  .produto_icone {
    background: #000;
    padding: 41px 0;
  }

  .produto_info p {
    font-size: 14px;
    line-height: 20px;
    height: auto;
    padding: 20px 30px;
  }

  .produto_info ul li {
    line-height: 20px;
    font-weight: bold;
    width: 149px;
    height: 49px;
    font-size: 14px;
    padding-top: 14px;
  }

  .form {
    padding-right: 0px;
  }

  .contato_form {
    padding-right: 0px;
    margin-bottom: 40px;
  }
}
