@charset "UTF-8";
/* Estilos Gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.main-header {
  width: 100%;
  background: #fec63e;
  padding: 1rem 0;
  position: fixed;
  top: 0;
}
.main-header .header-menu {
  text-align: right;
  margin-top: 1.5rem;
}
.main-header .header-menu ul, .main-header .header-menu li {
  display: inline-block;
  margin-left: 1.3rem;
}
.main-header .header-menu ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1rem;
  padding: 10px 5px;
  transition: all 0.2s;
}
.main-header .header-menu ul li a:hover {
  color: #fff;
}

/* Introdução */