@charset "UTF-8";
/* Estilos Gerais */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");
body {
  font-family: "Montserrat", Helvetica, sans-serif;
}

.btn {
  border: 3px solid #fec63e;
  padding: 0.5rem 1.3rem;
  color: #fec63e;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s;
}
.btn:hover {
  color: #f1f1f1;
  border-color: #f1f1f1;
}

/* Header */
.main-header {
  width: 100%;
  background: #fec63e;
  padding: 1rem 0;
  position: fixed;
  top: 0;
}
.main-header .header-menu {
  text-align: right;
  margin-top: 1.5rem;
}
.main-header .header-menu ul, .main-header .header-menu li {
  display: inline-block;
  margin-left: 1.3rem;
}
.main-header .header-menu ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1rem;
  padding: 10px 5px;
  transition: all 0.2s;
}
.main-header .header-menu ul li a:hover {
  color: #fff;
}

/* Introdução */
.introducao {
  width: 100%;
  height: 380px;
  background: url("../images/bg.jpg");
  background-size: cover;
  margin-top: 96px;
  text-align: center;
  padding-top: 100px;
}
.introducao h1 {
  font-size: 48px;
  color: #f1f1f1;
  font-weight: bold;
  text-transform: uppercase;
}
.introducao .quote-externo {
  max-width: 320px;
  margin: 0 auto;
  color: #f1f1f1;
  margin-bottom: 40px;
}
.introducao .quote-externo cite {
  font-family: "Montserrat", Helvetica, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
}
.introducao .quote-externo p {
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-size: 1.1rem;
}
.introducao .quote-externo p::before, .introducao .quote-externo p::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #f1f1f1;
  margin: 12px auto 10px auto;
}