@charset "UTF-8";
/* Estilos Gerais */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
body {
  font-family: "Montserrat", Helvetica, sans-serif;
  /* Header */
  /* Introdução */
  /* Portfólio */
  /*Qualidade*/
  /*Quebra*/
  /*Footer*/
}
body img {
  display: block;
}
body .btn {
  border: 3px solid #fec63e;
  padding: 0.5rem 1.3rem;
  color: #fec63e;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s;
}
body .btn:hover {
  color: #f1f1f1;
  border-color: #f1f1f1;
}
body .btn-preto:hover {
  color: #000;
  border-color: #000;
}
body .subtitulo {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}
body .subtitulo::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px auto;
}
body .call {
  padding-top: 40px;
  text-align: center;
  clear: both;
}
body .call p {
  margin-bottom: 2rem;
}
body .quote-externo {
  max-width: 320px;
  margin: 0 auto;
  color: #f1f1f1;
  margin-bottom: 40px;
}
body .quote-externo cite {
  font-family: "Montserrat", Helvetica, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
}
body .quote-externo p {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-size: 1.1rem;
}
body .quote-externo p::before, body .quote-externo p::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #f1f1f1;
  margin: 12px auto 10px auto;
}
body .main-header {
  width: 100%;
  background: #fec63e;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  z-index: 1;
}
body .main-header .header-menu {
  text-align: right;
  margin-top: 1.5rem;
}
body .main-header .header-menu ul,
body .main-header .header-menu li {
  display: inline-block;
  margin-left: 1.3rem;
}
body .main-header .header-menu ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1rem;
  padding: 10px 5px;
  transition: all 0.2s;
}
body .main-header .header-menu ul li a:hover {
  color: #fff;
}
body .introducao {
  width: 100%;
  height: 380px;
  background: url("../images/bg.jpg");
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding-top: 100px;
}
body .introducao h1 {
  font-size: 48px;
  color: #f1f1f1;
  font-weight: bold;
  text-transform: uppercase;
}
body .produtos {
  padding: 60px 0;
}
body .produtos .produtos-lista {
  margin-top: 2rem;
}
body .produtos .produtos-lista li {
  background: #fec63e;
  text-align: center;
}
body .produtos .produtos-lista li h3 {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 20px;
}
body .produtos .produtos-lista li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 2px auto;
}
body .produtos .produtos-lista li p {
  padding: 10px 20px;
  margin-bottom: 20px;
}
body .produtos .produtos-lista .produtos-icone {
  background: #000;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}
body .portfolio {
  width: 100%;
  background: #000;
  padding: 40px 0;
}
body .portfolio .subtitulo {
  color: #fec63e;
}
body .portfolio .subtitulo::after {
  background: #fec63e;
  margin: 4px auto;
  margin-bottom: 2rem;
}
body .portfolio .portfolio-lista li:last-child {
  margin-top: 1.3rem;
}
body .portfolio .call {
  text-align: center;
  padding-top: 1.5rem;
}
body .portfolio .call p {
  color: #f1f1f1;
}
body .qualidade {
  padding: 2.5rem 0;
}
body .qualidade .subtitulo {
  margin-bottom: 2rem;
}
body .qualidade::after {
  content: "";
  width: 634px;
  height: 83px;
  display: block;
  background: url("../images/linhas.svg");
  position: absolute;
  top: 12.4rem;
  right: 10.1rem;
  z-index: -1;
}
body .qualidade .qualidade-lista {
  padding-top: 1.3rem;
}
body .qualidade img {
  margin: 0 auto;
}
body .qualidade li {
  text-align: center;
  padding: 0 2.5rem;
}
body .qualidade li h3 {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 20px;
}
body .qualidade li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 6px auto;
}
body .qualidade li p {
  padding: 10px 20px;
  margin-bottom: 20px;
}
body .quebra {
  width: 100%;
  height: 220px;
  background: url("../images/bg-footer.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 2.3rem;
}
body .quebra .quote-externo {
  max-width: 400px;
}
body .footer {
  width: 100%;
  background-color: #000;
  padding: 1.3rem 0;
  color: #f1f1f1;
}
body .footer i {
  color: #fec63e;
}
body .footer h3 {
  font-size: 1rem;
  line-height: 1.2rem;
  color: #fec63e;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: bold;
}
body .footer h3::after {
  content: "";
  width: 4rem;
  height: 3px;
  display: block;
  background-color: #fec63e;
  margin: 0.7rem 0 0.7rem 0;
}
body .footer .footer-contato {
  font-size: 1rem;
  line-height: 1.3rem;
}
body .footer .footer-historia {
  padding-right: 2.3rem;
}
body .footer .footer-historia p {
  font-family: Georgia, "Times New Roman", serif;
}
body .footer .footer-contato ul li {
  font-size: 1rem;
  line-height: 1.2px;
  font-family: Georgia, "Times New Roman", serif;
}
body .footer .footer-redes ul li {
  display: inline-block;
  margin: 0.2rem;
}
body .footer .footer-redes ul li a {
  display: block;
  border: 3px solid #fec63e;
  padding: 0.5rem;
  transition: all 0.3s;
}
body .footer .footer-redes ul li a:hover {
  border: 4px solid #fec63e;
}
body .copy {
  width: 100%;
  padding: 1rem;
  background: #fec63e;
}
body .copy p {
  color: #000;
  font-weight: 600;
}
body .copy p a {
  font-weight: 600;
  color: #000;
  transition: all 0.2s;
  font-weight: bold;
}
body .copy p a:hover {
  color: #f1f1f1;
}