$main-yellow: #fec63e;
$main-black: #000;
$main-white: #f1f1f1;
$main-font: "Montserrat", Helvetica, sans-serif;
$second-font: Georgia, "Times New Roman", serif;

.interna-contato {
  background: url("../images/bg-contato.jpg") no-repeat center;
  background-size: cover;
}

.contato {
  width: 100%;
  padding: 2.3rem 0;
  .subtitulo {
    color: $main-yellow;
    &::after {
      background-color: $main-yellow;
    }
  }
  .form {
    padding-right: 3rem;
    label {
      display: block;
      font-size: 18px;
      line-height: 25px;
    }
    input,
    textarea {
      display: block;
      width: 100%;
      max-width: 100%;
      max-height: 120px;
      border: 4px solid $main-yellow;
      background: none;
      padding: 5px;
      outline: none;
      font-size: 14px;
      margin-bottom: 10px;
    }
    button {
      background: none;
      padding: 0.5rem 3rem;
      outline: none;
      cursor: pointer;
      &:hover {
        color: $main-black;
        border-color: $main-black;
      }
    }
  }
  .contato-dados {
    h3 {
      font-size: 18px;
      color: $main-yellow;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    p {
      padding-top: 1rem;
    }
    span {
      display: block;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    i {
      color: $main-yellow;
    }
    ul {
      display: flex;
      padding-right: 40px;
      li {
        font-size: 14px;
        padding: 15px;
        a {
          display: block;
          border: 3px solid $main-yellow;
          padding: 0.5rem;
          transition: all 0.3s;
          &:hover {
            border: 4px solid $main-yellow;
          }
        }
      }
    }
  }
}

.map {
  width: 250px;
  height: 300px;
  padding: 1rem 0;
  margin: 1rem;
  border-radius: 15px;
  background: $main-yellow;
}
