$main-yellow: #fec63e;
$main-black: #000;
$main-white: #f1f1f1;
$main-font: "Montserrat", Helvetica, sans-serif;
$second-font: Georgia, "Times New Roman", serif;

.interna-portfolio {
  background: url("../images/bg-portfolio.jpg") no-repeat center;
  background-size: cover;
}
