$main-yellow: #fec63e;
$main-black: #000;
$main-white: #f1f1f1;
$main-font: "Montserrat", Helvetica, sans-serif;
$second-font: Georgia, "Times New Roman", serif;

.interna-portfolio {
  background: url("../images/bg-portfolio.jpg") no-repeat center;
  background-size: cover;
}

.quote-clientes {
  padding: 60px 0;
  max-width: 500px;
  margin: 0 auto;
  p {
    text-align: center;
    font-family: $second-font;
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
  }
  cite {
    font-size: 13px;
    font-weight: bold;
    float: right;
  }
}
