$main-yellow: #fec63e;
$main-black: #000;
$main-white: #f1f1f1;
$main-font: "Montserrat", Helvetica, sans-serif;
$second-font: Georgia, "Times New Roman", serif;

.interna-sobre {
  background: url("../images/bg-sobre.jpg") no-repeat center;
}

.missao-sobre {
  padding-top: 5rem;
  p {
    line-height: 1.6rem;
    margin-bottom: 1rem;
    padding-right: 6rem;
    font-family: $second-font;
  }
  ul {
    li {
      font-family: $second-font;
    }
  }
  .foto-equipe {
    padding-top: 1.5rem;
  }
}
