/* Estilos Gerais */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

$main-yellow: #fec63e;
$main-black: #000;
$main-white: #f1f1f1;
$main-font: 'Montserrat', Helvetica, sans-serif;
$second-font: "Times New Roman" ,serif;

body{
    font-family: $main-font;
}

//Button geral
.btn{
    border: 3px solid $main-yellow;
    padding: .5rem 1.3rem;
    color: $main-yellow;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .2s;
    &:hover{
        color: $main-white;
        border-color: $main-white;
    }
}


/* Header */
.main-header{
    width: 100%;
    background: $main-yellow;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    .header-menu{
        text-align: right;
        margin-top: 1.5rem;
        ul, li{
            display: inline-block;
            margin-left: 1.3rem;
        }
        ul li a{
            color: $main-black;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: .05em;
            line-height: 1rem;
            padding: 10px 5px;
            transition: all .2s;
            &:hover{
                color: #fff;
            }
        }
    }
}
/* Introdução */

.introducao{
    width: 100%;
    height: 380px;
    background: url("../images/bg.jpg");
    background-size: cover;
    margin-top: 96px;
    text-align: center;
    padding-top: 100px;
    h1{
        font-size: 48px;
        color: $main-white;
        font-weight: bold;
        text-transform: uppercase;
    }
    .quote-externo{
        max-width: 320px;
        margin: 0 auto;
        color: $main-white;
        margin-bottom: 40px;
        cite{
            font-family: $main-font;
            text-transform: uppercase;
            font-style: normal;
            font-size: 1rem;
            font-weight: 700;
        }
        p{
            font-family: $second-font;
            font-style: italic;
            font-size: 1.1rem;
            //Adicionando linha
            &::before, &::after{
                content: "";
                display: block;
                width: 60px;
                height: 3px;
                background: $main-white;
                margin: 12px auto 10px auto;
            }
        }
    }
}

