/* Estilos Gerais */

$main-yellow: #fec63e;
$main-black: #000;


body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.main-header{
    width: 100%;
    background: $main-yellow;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    .header-menu{
        text-align: right;
        margin-top: 1.5rem;
        ul, li{
            display: inline-block;
            margin-left: 1.3rem;
        }
        ul li a{
            color: $main-black;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: .05em;
            line-height: 1rem;
            padding: 10px 5px;
            transition: all .2s;
            &:hover{
                color: #fff;
            }
        }
    }
}
/* Introdução */


